<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="suiviAction">
            <h2><span jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.detail.title">Suivi Action</span> {{ suiviAction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.dateSuivi">Date Suivi</span></dt>
                <dd>
                    <span>{{ suiviAction.dateSuivi }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.indicateurs">Indicateurs</span></dt>
                <dd>
                    <span>{{ suiviAction.indicateurs }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.commentaire">Commentaire</span></dt>
                <dd>
                    <span>{{ suiviAction.commentaire }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.actionCommerciale">Action Commerciale</span></dt>
                <dd>
                    <div *ngIf="suiviAction.actionCommercialeId">
                        <a [routerLink]="['/action-commerciale', suiviAction.actionCommercialeId, 'view']">{{ ActionCommercialeNom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/suivi-action', suiviAction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
