<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-suivi-action-heading" jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.home.createOrEditLabel">Create or edit a Suivi Action</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.dateSuivi" for="field_dateSuivi">Date Suivi</label>
                    <div class="d-flex">
                        <input id="field_dateSuivi" type="datetime-local" class="form-control" name="dateSuivi" formControlName="dateSuivi" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateSuivi')!.invalid && (editForm.get('dateSuivi')!.dirty || editForm.get('dateSuivi')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateSuivi')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateSuivi')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.indicateurs" for="field_indicateurs">Indicateurs</label>
                    <input type="text" class="form-control" name="indicateurs" id="field_indicateurs"
                           formControlName="indicateurs"/>
                    <div *ngIf="editForm.get('indicateurs')!.invalid && (editForm.get('indicateurs')!.dirty || editForm.get('indicateurs')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('indicateurs')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.commentaire" for="field_commentaire">Commentaire</label>
                    <input type="text" class="form-control" name="commentaire" id="field_commentaire"
                           formControlName="commentaire"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.actionCommerciale" for="field_actionCommerciale">Action Commerciale</label>
                    <select class="form-control" id="field_actionCommerciale" name="actionCommerciale" formControlName="actionCommercialeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="actionCommercialeOption.id" *ngFor="let actionCommercialeOption of actioncommerciales; trackBy: trackById">{{ actionCommercialeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
