<div>
    <h2 id="page-heading">
        <span jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.home.title">Suivi Actions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-suivi-action" [routerLink]="['/suivi-action/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.home.createLabel">
            Create a new Suivi Action
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="suiviActions?.length === 0">
        <span jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.home.notFound">No suiviActions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="suiviActions && suiviActions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateSuivi"><span jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.dateSuivi">Date Suivi</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="indicateurs"><span jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.indicateurs">Indicateurs</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commentaire"><span jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.commentaire">Commentaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="actionCommercialeId"><span jhiTranslate="tsGatewayAngApp.clientSalesSuiviAction.actionCommerciale">Action Commerciale</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let suiviAction of suiviActions ;trackBy: trackId">
                    <td><a [routerLink]="['/suivi-action', suiviAction.id, 'view']">{{ suiviAction.id }}</a></td>
                    <td>{{ suiviAction.dateSuivi | date:'medium' }}</td>
                    <td>{{ suiviAction.indicateurs }}</td>
                    <td>{{ suiviAction.commentaire }}</td>
                    <td>
                        <div *ngIf="suiviAction.actionCommercialeId">
                            <a [routerLink]="['/action-commerciale', suiviAction.actionCommercialeId , 'view']" >{{ suiviAction.actionCommercialeId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/suivi-action', suiviAction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/suivi-action', suiviAction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(suiviAction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="suiviActions && suiviActions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
