<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mouvementStock">
            <h2><span jhiTranslate="tsGatewayAngApp.productInventoryMouvementStock.detail.title">Mouvement Stock</span> {{ mouvementStock.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tsGatewayAngApp.productInventoryMouvementStock.typeMouvement">Type Mouvement</span></dt>
                <dd>
                    <span>{{ mouvementStock.typeMouvement }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.productInventoryMouvementStock.quantite">Quantite</span></dt>
                <dd>
                    <span>{{ mouvementStock.quantite }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.productInventoryMouvementStock.dateMouvement">Date Mouvement</span></dt>
                <dd>
                    <span>{{ mouvementStock.dateMouvement }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.productInventoryMouvementStock.produit">Produit</span></dt>
                <dd>
                    <div *ngIf="mouvementStock.produitId">
                        <a [routerLink]="['/produit', mouvementStock.produitId, 'view']">{{ mouvementStock.produitId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.productInventoryMouvementStock.depot">Depot</span></dt>
                <dd>
                    <div *ngIf="mouvementStock.depotId">
                        <a [routerLink]="['/depot', mouvementStock.depotId, 'view']">{{ mouvementStock.depotId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mouvement-stock', mouvementStock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
