<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bonus">
            <h2><span jhiTranslate="tsGatewayAngApp.financeBonus.detail.title">Bonus</span> {{ bonus.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tsGatewayAngApp.financeBonus.montant">Montant</span></dt>
                <dd>
                    <span>{{ bonus.montant }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financeBonus.dateAttribution">Date Attribution</span></dt>
                <dd>
                    <span>{{ bonus.dateAttribution }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financeBonus.statut">Statut</span></dt>
                <dd>
                    <span>{{ bonus.statut }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financeBonus.incentive">Incentive</span></dt>
                <dd>
                    <div *ngIf="bonus.incentiveId">
                        <a [routerLink]="['/incentive', bonus.incentiveId, 'view']">{{ incentiveNom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bonus', bonus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
