<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paiement">
            <h2><span jhiTranslate="tsGatewayAngApp.financePaiement.detail.title">Paiement</span> {{ paiement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tsGatewayAngApp.financePaiement.reference">Reference</span></dt>
                <dd>
                    <span>{{ paiement.reference }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financePaiement.datePaiement">Date Paiement</span></dt>
                <dd>
                    <span>{{ paiement.datePaiement }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financePaiement.montant">Montant</span></dt>
                <dd>
                    <span>{{ paiement.montant }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financePaiement.modePaiement">Mode Paiement</span></dt>
                <dd>
                    <span>{{ paiement.modePaiement }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financePaiement.statut">Statut</span></dt>
                <dd>
                    <span>{{ paiement.statut }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financePaiement.facture">Facture</span></dt>
                <dd>
                    <div *ngIf="paiement.factureId">
                        <a [routerLink]="['/facture', paiement.factureId, 'view']">{{ factureNumero }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financePaiement.compte">Compte</span></dt>
                <dd>
                    <div *ngIf="paiement.compteId">
                        <a [routerLink]="['/compte', paiement.compteId, 'view']">{{ compteNumero }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/paiement', paiement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
