<div>
    <h2 id="page-heading">
        <span jhiTranslate="tsGatewayAngApp.financePaiement.home.title">Paiements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-paiement" [routerLink]="['/paiement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tsGatewayAngApp.financePaiement.home.createLabel">
            Create a new Paiement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paiements?.length === 0">
        <span jhiTranslate="tsGatewayAngApp.financePaiement.home.notFound">No paiements found</span>
    </div>

    <dx-data-grid
        style="width: 100%; font-size: 13px; clear: both;"
        id="grid"
        class="a-type-of-grid"
        aria-describedby="page-heading"
        [dataSource]="paiements"
        [rowAlternationEnabled]="true"
        [allowColumnReordering]="true"
        [searchPanel]="{ visible: true, width: 240, placeholder: 'Rechercher un paiement...' }"
        [showBorders]="true"
        [columnAutoWidth]="false"
        [allowColumnResizing]="true"
        [columnResizingMode]="'nextColumn'"
        keyExpr="id"
        (onRowDblClick)="onRowDblClick($event)"
        (onSelectionChanged)="selectedChanged($event)"
    >
        <dxi-column dataField="reference" [caption]="'tsGatewayAngApp.financePaiement.reference' | translate" dataType="string" alignment="left"><fa-icon icon="sort"></fa-icon></dxi-column>
        <dxi-column dataField="datePaiement" [caption]="'tsGatewayAngApp.financePaiement.datePaiement' | translate" dataType="string" alignment="left"><fa-icon icon="sort"></fa-icon></dxi-column>
        <dxi-column dataField="montant" [caption]="'tsGatewayAngApp.financePaiement.montant' | translate" dataType="number" format="#,##0.00" alignment="left"><fa-icon icon="sort"></fa-icon></dxi-column>
        <dxi-column dataField="modePaiement" [caption]="'tsGatewayAngApp.financePaiement.modePaiement' | translate" dataType="number" format="#,##0.00" alignment="left"><fa-icon icon="sort"></fa-icon></dxi-column>
        <dxi-column dataField="statut" [caption]="'tsGatewayAngApp.financePaiement.statut' | translate" dataType="string" alignment="left"><fa-icon icon="sort"></fa-icon></dxi-column>
        <dxi-column dataField="statut" [caption]="'tsGatewayAngApp.financePaiement.facture' | translate" dataType="string" alignment="left" [calculateCellValue]="factureNumero"><fa-icon icon="sort"></fa-icon></dxi-column>
        <dxi-column dataField="compte" [caption]="'tsGatewayAngApp.financePaiement.compte' | translate" dataType="string" alignment="left" [calculateCellValue]="compteNumero"><fa-icon icon="sort"></fa-icon></dxi-column>

        <!-- Colonne Action avec template -->
        <dxi-column caption="Action" alignment="center"  fixedPosition="right" cellTemplate="ActionTemplate">
            <div *dxTemplate="let d of 'ActionTemplate'">
                <button type="button"
                        class="btn btn-danger dataGridActionbtn"
                        (click)="onDeleteBtnClicked(d, deleteModal)">
                    <span class="dx-icon-trash"></span>
                </button>
            </div>
        </dxi-column>
    </dx-data-grid>


    <ng-template #deleteModal let-deleteModal class="modal-dialog">
        <form (ngSubmit)="confirmDelete(deleteModal);">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation de suppression!</h4>
            </div>
            <div class="modal-body">
                <p>Êtes-vous certain de vouloir supprimer la paiement' : </p>
                <strong>{{paiement.reference}}?</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-model" (click)="deleteModal.close('Close click')">
                    Annuler
                </button>
                <button type="submit" class="btn btn-danger btn-model">Supprimer</button>
            </div>
        </form>
    </ng-template>
    <!--<div class="table-responsive" id="entities" *ngIf="paiements && paiements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reference"><span jhiTranslate="tsGatewayAngApp.financePaiement.reference">Reference</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datePaiement"><span jhiTranslate="tsGatewayAngApp.financePaiement.datePaiement">Date Paiement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montant"><span jhiTranslate="tsGatewayAngApp.financePaiement.montant">Montant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modePaiement"><span jhiTranslate="tsGatewayAngApp.financePaiement.modePaiement">Mode Paiement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statut"><span jhiTranslate="tsGatewayAngApp.financePaiement.statut">Statut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="factureId"><span jhiTranslate="tsGatewayAngApp.financePaiement.facture">Facture</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="compteId"><span jhiTranslate="tsGatewayAngApp.financePaiement.compte">Compte</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paiement of paiements ;trackBy: trackId">
                    <td><a [routerLink]="['/paiement', paiement.id, 'view']">{{ paiement.id }}</a></td>
                    <td>{{ paiement.reference }}</td>
                    <td>{{ paiement.datePaiement | date:'medium' }}</td>
                    <td>{{ paiement.montant }}</td>
                    <td>{{ paiement.modePaiement }}</td>
                    <td>{{ paiement.statut }}</td>
                    <td>
                        <div *ngIf="paiement.factureId">
                            <a [routerLink]="['/facture', paiement.factureId , 'view']" >{{ paiement.factureId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="paiement.compteId">
                            <a [routerLink]="['/compte', paiement.compteId , 'view']" >{{ paiement.compteId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/paiement', paiement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/paiement', paiement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paiement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->

    <div *ngIf="paiements && paiements.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
