<div>
    <h2 id="page-heading">
        <span jhiTranslate="tsGatewayAngApp.clientSalesPointDeVente.home.title">Point De Ventes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-point-de-vente" [routerLink]="['/point-de-vente/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tsGatewayAngApp.clientSalesPointDeVente.home.createLabel">
            Create a new Point De Vente
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pointDeVentes?.length === 0">
        <span jhiTranslate="tsGatewayAngApp.clientSalesPointDeVente.home.notFound">No pointDeVentes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pointDeVentes && pointDeVentes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="tsGatewayAngApp.clientSalesPointDeVente.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresse"><span jhiTranslate="tsGatewayAngApp.clientSalesPointDeVente.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ville"><span jhiTranslate="tsGatewayAngApp.clientSalesPointDeVente.ville">Ville</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codePostal"><span jhiTranslate="tsGatewayAngApp.clientSalesPointDeVente.codePostal">Code Postal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="tsGatewayAngApp.clientSalesPointDeVente.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="latitude"><span jhiTranslate="tsGatewayAngApp.clientSalesPointDeVente.latitude">Latitude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="longitude"><span jhiTranslate="tsGatewayAngApp.clientSalesPointDeVente.longitude">Longitude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pointDeVente of pointDeVentes ;trackBy: trackId">
                    <td><a [routerLink]="['/point-de-vente', pointDeVente.id, 'view']">{{ pointDeVente.id }}</a></td>
                    <td>{{ pointDeVente.nom }}</td>
                    <td>{{ pointDeVente.adresse }}</td>
                    <td>{{ pointDeVente.ville }}</td>
                    <td>{{ pointDeVente.codePostal }}</td>
                    <td>{{ pointDeVente.telephone }}</td>
                    <td>{{ pointDeVente.latitude }}</td>
                    <td>{{ pointDeVente.longitude }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/point-de-vente', pointDeVente.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/point-de-vente', pointDeVente.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pointDeVente)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="pointDeVentes && pointDeVentes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
