<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="incentive">
            <h2><span jhiTranslate="tsGatewayAngApp.financeIncentive.detail.title">Incentive</span> {{ incentive.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tsGatewayAngApp.financeIncentive.nom">Nom</span></dt>
                <dd>
                    <span>{{ incentive.nom }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financeIncentive.description">Description</span></dt>
                <dd>
                    <span>{{ incentive.description }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financeIncentive.dateDebut">Date Debut</span></dt>
                <dd>
                    <span>{{ incentive.dateDebut }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financeIncentive.dateFin">Date Fin</span></dt>
                <dd>
                    <span>{{ incentive.dateFin }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financeIncentive.regles">Regles</span></dt>
                <dd>
                    <span>{{ incentive.regles }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.financeIncentive.bonus">Bonus</span></dt>
                <dd>
                    <span>{{ incentive.bonus }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/incentive', incentive.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
