.a-type-of-grid .dx-datagrid-headers .dx-header-row .dx-column-header {
  text-align: center; /* Centrer les titres des colonnes */
}

.a-type-of-grid .dx-datagrid-content .dx-data-row {
  text-align: center; /* Centrer les données sous les titres */
}

/* Optional: Pour une meilleure lisibilité, vous pouvez ajouter un style spécifique aux cellules */
.a-type-of-grid .dx-datagrid-content .dx-row .dx-cell {
  padding: 8px; /* Pour espacer les données des bords de la cellule */
  text-align: center; /* Aligner les données à l'intérieur de la cellule */
}
