::ng-deep #grid .dx-datagrid-rowsview .dx-row {
  min-height: 28px; /* hauteur des lignes plus petite */
  font-size: 13px; /* taille de police plus petite */
  padding-top: 2px;
  padding-bottom: 2px;
}

::ng-deep #grid .dx-datagrid-header-panel,
::ng-deep #grid .dx-datagrid-headers {
  font-size: 13px;
}
