<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="familleProduit">
            <h2><span jhiTranslate="tsGatewayAngApp.productInventoryFamilleProduit.detail.title">Famille Produit</span> {{ familleProduit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tsGatewayAngApp.productInventoryFamilleProduit.nom">Nom</span></dt>
                <dd>
                    <span>{{ familleProduit.nom }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.productInventoryFamilleProduit.description">Description</span></dt>
                <dd>
                    <span>{{ familleProduit.description }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.productInventoryFamilleProduit.options">Options</span></dt>
                <dd>
                    <span>{{ familleProduit.options }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/famille-produit', familleProduit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
