<div>
    <h2 id="page-heading">
        <span jhiTranslate="tsGatewayAngApp.clientSalesLigneCommande.home.title">Ligne Commandes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ligne-commande" [routerLink]="['/ligne-commande/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tsGatewayAngApp.clientSalesLigneCommande.home.createLabel">
            Create a new Ligne Commande
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ligneCommandes?.length === 0">
        <span jhiTranslate="tsGatewayAngApp.clientSalesLigneCommande.home.notFound">No ligneCommandes found</span>
    </div>

    <dx-data-grid
        style="width: 100%; font-size: 13px; clear: both;"
        id="grid"
        class="a-type-of-grid"
        aria-describedby="page-heading"
        [dataSource]="ligneCommandes"
        [rowAlternationEnabled]="true"
        [allowColumnReordering]="true"
        [searchPanel]="{ visible: true, width: 240, placeholder: 'Rechercher une ligne commande...' }"
        [showBorders]="true"
        [columnAutoWidth]="false"
        [allowColumnResizing]="true"
        [columnResizingMode]="'nextColumn'"
        keyExpr="id"
        (onRowDblClick)="onRowDblClick($event)"
        (onSelectionChanged)="selectedChanged($event)"
    >
        <dxi-column dataField="quantite" [caption]="'tsGatewayAngApp.clientSalesLigneCommande.quantite' | translate" dataType="number" format="#,##0.00" alignment="left"><fa-icon icon="sort"></fa-icon></dxi-column>
        <dxi-column dataField="prixUnitaire" [caption]="'tsGatewayAngApp.clientSalesLigneCommande.prixUnitaire' | translate" dataType="number" format="#,##0.00" alignment="left"><fa-icon icon="sort"></fa-icon></dxi-column>
        <dxi-column dataField="commande" [caption]="'tsGatewayAngApp.clientSalesLigneCommande.commande' | translate" dataType="string" alignment="left" [calculateCellValue]="commandeTotal"></dxi-column>

        <!-- Colonne Action avec template -->
        <dxi-column caption="Action" alignment="center"  fixedPosition="right" cellTemplate="ActionTemplate">
            <div *dxTemplate="let d of 'ActionTemplate'">
                <button type="button"
                        class="btn btn-danger dataGridActionbtn"
                        (click)="onDeleteBtnClicked(d, deleteModal)">
                    <span class="dx-icon-trash"></span>
                </button>
            </div>
        </dxi-column>
    </dx-data-grid>


    <ng-template #deleteModal let-deleteModal class="modal-dialog">
        <form (ngSubmit)="confirmDelete(deleteModal);">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation de suppression!</h4>
            </div>
            <div class="modal-body">
                <p>Êtes-vous certain de vouloir supprimer la ligne commande' : </p>
                <strong>{{ligneCommande.prixUnitaire}}?</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-model" (click)="deleteModal.close('Close click')">
                    Annuler
                </button>
                <button type="submit" class="btn btn-danger btn-model">Supprimer</button>
            </div>
        </form>
    </ng-template>
    <!--<div class="table-responsive" id="entities" *ngIf="ligneCommandes && ligneCommandes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantite"><span jhiTranslate="tsGatewayAngApp.clientSalesLigneCommande.quantite">Quantite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prixUnitaire"><span jhiTranslate="tsGatewayAngApp.clientSalesLigneCommande.prixUnitaire">Prix Unitaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="commandeId"><span jhiTranslate="tsGatewayAngApp.clientSalesLigneCommande.commande">Commande</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ligneCommande of ligneCommandes ;trackBy: trackId">
                    <td><a [routerLink]="['/ligne-commande', ligneCommande.id, 'view']">{{ ligneCommande.id }}</a></td>
                    <td>{{ ligneCommande.quantite }}</td>
                    <td>{{ ligneCommande.prixUnitaire }}</td>
                    <td>
                        <div *ngIf="ligneCommande.commandeId">
                            <a [routerLink]="['/commande', ligneCommande.commandeId , 'view']" >{{ ligneCommande.commandeId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ligne-commande', ligneCommande.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ligne-commande', ligneCommande.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ligneCommande)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->

    <div *ngIf="ligneCommandes && ligneCommandes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
