<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-lettrage-heading" jhiTranslate="tsGatewayAngApp.financeLettrage.home.createOrEditLabel">Create or edit a Lettrage</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tsGatewayAngApp.financeLettrage.dateLettrage" for="field_dateLettrage">Date Lettrage</label>
                    <div class="d-flex">
                        <input id="field_dateLettrage" type="datetime-local" class="form-control" name="dateLettrage" formControlName="dateLettrage" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateLettrage')!.invalid && (editForm.get('dateLettrage')!.dirty || editForm.get('dateLettrage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateLettrage')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateLettrage')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tsGatewayAngApp.financeLettrage.montantLettre" for="field_montantLettre">Montant Lettre</label>
                    <input type="number" class="form-control" name="montantLettre" id="field_montantLettre"
                           formControlName="montantLettre"/>
                    <div *ngIf="editForm.get('montantLettre')!.invalid && (editForm.get('montantLettre')!.dirty || editForm.get('montantLettre')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('montantLettre')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('montantLettre')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('montantLettre')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tsGatewayAngApp.financeLettrage.facture" for="field_facture">Facture</label>
                    <select class="form-control" id="field_facture" name="facture" formControlName="factureId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="factureOption.id" *ngFor="let factureOption of factures; trackBy: trackById">{{ factureOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tsGatewayAngApp.financeLettrage.paiement" for="field_paiement">Paiement</label>
                    <select class="form-control" id="field_paiement" name="paiement" formControlName="paiementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paiementOption.id" *ngFor="let paiementOption of paiements; trackBy: trackById">{{ paiementOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
