<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="code">
            <h2><span jhiTranslate="tsGatewayAngApp.productInventoryCode.detail.title">Code</span> {{ code.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tsGatewayAngApp.productInventoryCode.code">Code</span></dt>
                <dd>
                    <span>{{ code.code }}</span>
                </dd>
                <dt><span jhiTranslate="tsGatewayAngApp.productInventoryCode.produit">Produit</span></dt>
                <dd>
                    <div *ngIf="code.produitId">
                        <a [routerLink]="['/produit', code.produitId, 'view']">{{ code.produitId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/code', code.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
